{% extends 'base.html' %}

{% block content %}

<style>

    .box {

        background-color: white;

        width: 550px;

        margin: 100px auto;

        padding: 45px;

        border-radius: 12px;

        box-shadow: 0px 4px 15px rgba(0,0,0,0.15);

        text-align: center;
    }

    h1 {

        color: #8e44ad;

        margin-bottom: 20px;
    }

    p {

        color: #555;

        font-size: 17px;

        margin-bottom: 30px;
    }

    .buttons a {

        display: inline-block;

        margin: 10px;

        padding: 12px 22px;

        background-color: #2f4358;

        color: white;

        text-decoration: none;

        border-radius: 8px;

        transition: 0.3s;
    }

    .buttons a:hover {

        background-color: #3d5672;
    }

</style>

<div class="box">

    <h1>500 Server Error</h1>

    <p>
        {{ error }}
    </p>

    <div class="buttons">

        <a href="/accounts/dashboard/">
            Dashboard
        </a>

        <a href="/">
            View Housing
        </a>

    </div>

</div>

{% endblock %}